# This bash file describes the information for the README for an example document.

title="Usage Guide for Baseline v1.1";
dsp="UsageGuide-Baseline";
filename="../docs/UsageGuide_Baseline1.1.md";
version="1.1.0";
supersedes="None";
status="published";
released="true";
class="info";
date="2024-05-20";
logo="ocp";
copyright="2023-2024";
paragraph_numbering="no";
